name: Mutation Testing with Pitest

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight UTC

jobs:
  mutation-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven
      - name: Build with Maven
        run: mvn verify org.pitest:pitest-maven:mutationCoverage -Pmutation-testing
        working-directory: com.boracompany.mygame

      - name: Archive Mutation Test Report
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: pitest-report
          path: com.boracompany.mygame/target/pit-reports/**/*


      - name: Deploy Pitest Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: com.boracompany.mygame/target/pit-reports
          publish_branch: gh-pages